.headshot{
    align-items: right;
    filter: drop-shadow(-25px 20px 4px #ddd);
}

.active{
    text-decoration: underline;
}

.home-card img{
    filter: drop-shadow(-20px 5px 4px #d1d1d1);
}

.home-card{
    background: #eee;
}

.site-footer {
    padding: 20px 0;
}